<div  class="venture_display">
  <% if @businesses %>
    <% @businesses.each do |business|%>
      <div ng-show="business_flags[<%=  @businesses.index(business) %>]">
        <div class="venture_row">
            <span class="venture_name"><%= business.name %></span><br>
             <img src="<%=  business.rating_img_url_large %>" ><br>
            <span class="venture_category"><%=  business.categories[0][0] %></span>
        </div>
        <div class="venture_row">
          <div class="first_col">
            <div style="height:330px; width:300px; border: 1px solid #AEB4B6; padding: 10px;">
              <div>
            <img  src="https://maps.googleapis.com/maps/api/staticmap?center=
              <%=business.location.coordinate.latitude%>,<%=business.location.coordinate.longitude %>&zoom=12&size=280x200&markers=color:red&markers=color:red%7Clabel:S%7C<%=business.location.coordinate.latitude%>,<%=business.location.coordinate.longitude %>">
              </div>
            <div class="venture_info">
              <%=  business.location.display_address[0] %><br>
              <%=  business.location.display_address[1] %><br>
              <%=  business.location.display_address[2] %><br>
            </div>
            <a href="https://www.google.com/maps/place/<%=  business.location.display_address[0] %>+<%=  business.location.display_address[1] %>+<%=  business.location.display_address[2] %>/@<%=business.location.coordinate.latitude%>,<%=business.location.coordinate.longitude %>" target="_blank">Get Directions</a>
            </div>
          </div>

          <div class="second_col">
            <img src="<%= business.image_url %>" class="venture_image" >
          </div>
        </div>
        <div class="venture_row">
          <div class="venture_comment_block">
            <div class="img_block">
            <img src="<%= business.snippet_image_url%>" >
            </div>

            <span><%= business.snippet_text %></span>
          </div>

          

        </div>
      </div>
    <% end %>
 <% end %>

 <div class="clearfix"></div>
</div>




