<div style="border: 1px solid black; width: 650px; ">
  <% if @businesses %>
    <% @businesses.each do |business|%>
      <div ng-show="business_flags[<%=  @businesses.index(business) %>]">

      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <span class="venture_name"><%= business.name %></span><br>

             <img src="<%=  business.rating_img_url_large %>" ><br>
            
            <span class="venture_category"><%=  business.categories[0][0] %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div style="height:330px; width:300px; border: 1px solid #AEB4B6; padding: 10px;">
              <div>
              <img  src="https://maps.googleapis.com/maps/api/staticmap?center=
              <%=business.location.coordinate.latitude%>,<%=business.location.coordinate.longitude %>&zoom=12&size=280x200&markers=color:red&markers=color:red%7Clabel:S%7C<%=business.location.coordinate.latitude%>,<%=business.location.coordinate.longitude %>">
              </div>
            <div class="venture_info">
              <%=  business.location.display_address[0] %><br>
              <%=  business.location.display_address[1] %><br>
              <%=  business.location.display_address[2] %><br>
              <span class="glyphicon glyphicon-earphone"></span> <%= business.display_phone %><br>
            </div>
            <a href="https://www.google.com/maps/place/<%=  business.location.display_address[0] %>+<%=  business.location.display_address[1] %>+<%=  business.location.display_address[2] %>/@<%=business.location.coordinate.latitude%>,<%=business.location.coordinate.longitude %>">Get Directions</a>
            </div>

         </div>
         <div class="col-md-3">
             <img src="<%= business.image_url %>" class="venture_image" >
         </div>
        </div>
      </div>


      </div>
    <% end %>
 <% end %>
</div>




