<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
<div>
 wifi: <input type="checkbox" ng-model="wificlick" ng-click="optionsFilter(wificlick, 'wifi')" ng-checked="wificlick"><br/><br/>
 <h4>Catgories</h4>
 Libraries: <input type="checkbox" ng-model="librariesclick" ng-click="optionsFilter(librariesclick, 'libraries')" ng-checked="librariesclick"><br/><br/>
 Cafes: <input type="checkbox" ng-model="cafesclick" ng-click="optionsFilter(cafesclick, 'cafes')" ng-checked="cafesclick"><br/><br/>
 College: <input type="checkbox" ng-model="collegeclick" ng-click="optionsFilter(collegeclick, 'college')" ng-checked="collegeclick"><br/><br/>
 
 <div>
  Sort by <br>
  <span ng-show="bestmatch_flag" >Best Match</span><br>
  <span ng-hide="bestmatch_flag" ng-click="sortFunction('bestmatch')" style="color: blue;">Best Match</span><br>
  <span ng-show="highestrate_flag">Highest Rated</span><br>
  <span ng-hide="highestrate_flag" ng-click="sortFunction('highestrate')" style="color: blue;">Highest Rated </span><br>
 </div>

 passing variable: {{result2 }}<
 ]br>
 keywords string: <%=  @keywords %><br>
 bestmatch flag: {{bestmatch_flag}}<br>
 highest rate flag: {{highestrate_flag}}<br>
 Category: <%= @category_string %><br>

</div>

<div style='width: 500px;'>
  <div id="map" style='width: 500px; height: 250px;'></div>
</div>

<script style="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers( 
    <%= raw @hash.to_json %>

    );
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
<div style="height: 20px;"></div>

<%= render partial: "searchform" %>
<%= render partial: "business", collection: @businesses %>


  <div ng-show="business_flags[10]">
      test <br>
      {{business_flags[10]}}
  </div>

</div>
<div style="border: 3px solid black;">
<% if @businesses %>
  <% @businesses.each do |business|%>
  <div ng-show="business_flags[<%=  @businesses.index(business) %>]">
    Index: <%= business.name %>
    Business Name: <%= business.name %><br>
    City: <%=  business.location.city%><br>
  </div>
  <% end %>
<% end %>
 
</div>

