<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

<div class="map" id="map"></div>

<script style="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers( 
    <%= raw @hash.to_json %>

    );
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
<div style="height: 20px;"></div>

<%= render partial: "filter" %>

<%= render partial: "searchform" %>
<%= render partial: "business", collection: @businesses %>

  <div ng-show="business_flags[10]">
      test <br>
      {{business_flags[10]}}
  </div>

</div>
<div style="border: 3px solid black;">
<% if @businesses %>
  <% @businesses.each do |business|%>
  <div ng-show="business_flags[<%=  @businesses.index(business) %>]">
    Index: <%= business.name %>
    Business Name: <%= business.name %><br>
    City: <%=  business.location.city%><br>
  </div>
  <% end %>
<% end %>
 
</div>

