<h1> Good Study Spot</h1>

<%= form_tag('/searches', method:"get") do %>
    <%= text_field_tag :keywords %>
    <%= text_field_tag :location %>
    <%= submit_tag "Search" %>
  
<% end %>
<% if @businesses %>
  <% @businesses.each do |business|%>
    Business Name: <%= business.name %><br>
    City: <%=  business.location.city%><br>
  <% end %>
<% end %>

