<!DOCTYPE html>
<html ng-app="myApp"  ng-controller="searchController">
<head>
  <title>Comfystudy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'stylesheets/style.css'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags  %>
</head>
<body>
  <header class="header">
    <div class="row">
      <div class="container"> 
        <div class="pull-left">
          <%= render partial: "/searches/searchform" %>
        </div>
        <div class="pull-right"> 
          <%= render partial: "/searches/login_logout_signup" %>
         </div>
      </div>
    </div>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer class="footer">
    <div class="container">
        &copy; ComfyStudy 
    </div>
  </footer>
</body>
</html>
